
@{
    ViewBag.Title = "Guardar";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="animated lightSpeedIn">DOTECH <small>Monterrey</small></h1>
                <span class="label label-danger">Dotech S.A de C.V</span>
                <p class="pull-right text-primary">
                    <strong>
                        @DateTime.Now.ToString("dddd d 'de' MMMM 'del' yyyy")
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row well">
        <div class="col-sm-3">
            <img src="~/img/ticket.png" class="img-responsive" alt="Image">
        </div>
        <div class="col-sm-9 lead">
            <h2 class="text-info">¿Cómo abrir un nuevo Ticket?</h2>
            <p>Para abrir un nuevo ticket deberá de llenar todos los campos de el siguiente formulario. Usted podra verificar el estado de su ticket mediante el <strong>Ticket ID</strong> que se le proporcionara a usted cuando llene y nos envie el siguiente formulario.</p>
        </div>
    </div><!--fin row 1-->

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><strong><i class="fa fa-ticket"></i>&nbsp;&nbsp;&nbsp;Ticket</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <br><br><br>
                            <img src="img/write_email.png" alt=""><br><br>
                            <p class="text-primary text-justify">Por favor llene todos los datos de este formulario para abrir su ticket. El <strong>Ticket ID</strong> será enviado a la dirección de correo electronico proporcionada en este formulario.</p>
                        </div>
                        <div class="col-sm-8">
                            <form class="form-horizontal" role="form" action="" method="POST">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Fecha</label>
                                        <div class='col-sm-10'>
                                            <div class="input-group">
                                                <input class="form-control" type="text" id="fechainput" placeholder="Fecha" name="fecha_ticket" required="" readonly>
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <div class='input-group'>
                                                <input type="text" class="form-control" placeholder="Nombre" required="" pattern="[a-zA-Z ]{1,30}" name="name_ticket" title="Nombre Apellido">
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <div class='input-group'>
                                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email_ticket" required="" title="Ejemplo@dominio.com">
                                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Departamento</label>
                                        <div class="col-sm-10">
                                            <div class='input-group'>
                                                <select class="form-control" name="departamento_ticket">
                                                    <option value="Contabilidad">Contabilidad</option>
                                                    <option value="Recursos Humanos">Recursos Humanos</option>
                                                    <option value="Sistemas">Sistemas</option>
                                                    <option value="Marketing">Marketing</option>
                                                    <option value="Compras">Compras</option>
                                                    <option value="Mantenimiento">Mantenimiento</option>
                                                    <option value="Empresa">Empresa</option>
                                                </select>
                                                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Asunto</label>
                                        <div class="col-sm-10">
                                            <div class='input-group'>
                                                <input type="text" class="form-control" placeholder="Asunto" name="asunto_ticket" required="">
                                                <span class="input-group-addon"><i class="fa fa-paperclip"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Problema de su producto</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" placeholder="Escriba el problema que presenta" name="mensaje_ticket" required=""></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-info">Abrir ticket</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
