@using sistickets.Models
@model List<TicketCLS>
@{
    ViewBag.Title = "Soporte";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="animated lightSpeedIn">DOTECH <small>Monterrey</small></h1>
                <span class="label label-danger">Dotech S.A de C.V</span>
                <p class="pull-right text-primary">
                    <strong>
                        @DateTime.Now.ToString("dddd d 'de' MMMM 'del' yyyy")
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row well">
        <div class="col-sm-3">
            <img src="~/img/soporte.png" class="img-responsive" alt="Image">
        </div>
        <div class="col-sm-9 lead">
            <h2 class="text-info">Bienvenido al centro de soporte de Dotech</h2>
            <p>Es muy facil de usar, si usted tiene problemas con alguno de nuestros servicios nos puede enviar un nuevo ticket, nosotros lo respondemos y solucionaremos su problema.<br>Si ya nos ha enviado un ticket puede consultar el estado de este en su <strong>correo electronico</strong>.</p>
        </div>
    </div><!--fin row 1-->

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading text-center"><i class="fa fa-file-text"></i>&nbsp;<strong>Nuevo Ticket</strong></div>
                <div class="panel-body text-center">
                    <img src="~/img/new_ticket.png" alt="">
                    <h4>Abrir un nuevo ticket</h4>
                    <p class="text-justify">Si tienes un problema con cualquiera de nuestros servicios reportalo creando un nuevo ticket y te ayudaremos a solucionarlo.</p>
                    <p>Para abrir un nuevo <strong>ticket</strong> has click en el siguiente boton</p>
                    @Html.ActionLink("Nuevo Ticket", "Guardar", "Ticket", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div><!--fin col-md-6-->
    </div><!--fin row 2-->
</div><!--fin container-->
